In [5]:
import gso_compare as compare
import os
dir_workspace = os.getcwd()
file_name_cs = os.path.join(dir_workspace,'GSO_88103.gso')
file_name_gs = os.path.join(dir_workspace,'GSO_88101.gso')
file_config = os.path.join(dir_workspace,'config.yaml')
df_summary,dict_result = compare.compare_gso(file_config,file_name_cs,file_name_gs,dir_workspace,False)
df_summary

          Element  No. of Conflicts
0       entiyType                 0
1         beField                 0
2       dataGroup                 0
3      occurrence                 1
4        relation                 0
5  businessEntity                 0
6          config                 0
7  entityRelation                 0
8    completeness                 0
9      naturalKey                 0

In [ ]:
dict_result['occurrence']

dict_result['beField']